configuration {
    modi: "drun,window,run,combi,calc";
    cycle: true;
    show-icons: true;
    display-drun: "";
    display-window: "";
    matching: "fuzzy";
    // lines: 8;
    // columns: 1;
    // width: 560;
    // location: 0;
    // padding: 50;
    font: "FiraCode Nerd Font Mono 14";
    sidebar-mode: false;
    theme: "javacafe";
    display-combi: "rofi";
}
